<div class="container text-center d-flex"> <h1><%= @list.name %></h1>
<i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#edit-btn"></i>
</div>

<div class="modal fade" id="edit-btn" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Changer le titre :</h5>
        <%= simple_form_for @list do |f| %>
          <%= f.input :name %>
          <%= f.submit "Valider", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>









<div class="text-center d-flex flex_column movies">
  <% @list.bookmarks.each do |bookmark| %>
    <div>
      <%= bookmark.movie.title %> : <%= bookmark.comment %> - <%= link_to "Delete", bookmark_path(bookmark), method: :delete  %>
    </div>
  <%end %>
</div>


<!-- Button trigger modal -->
<div class="text-center" ><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
Ajouter un film</button></div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Choisis ton film !</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.association :movie %>
          <%= f.input :comment %>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <%= f.submit "Ajouter le film", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
